<div class="comment-item">
  <div class="comment-header">
    <span class="comment-author">
      <%= link_to comment.user.display_name, user_path(comment.user), class: "text-blue-600 hover:text-blue-800 underline" %>
      <% if comment.user.admin? %>
        <span class="admin-badge"><%= t('app.common.admin_badge') %></span>
      <% end %>
    </span>
    <div class="comment-date-group">
      <span class="comment-date">
        <%= l(comment.created_at, format: :long) %>
      </span>
      <%= diff_time(comment.created_at, "span", { class: "diff-date" }, auto_update: true) %>
    </div>
  </div>
  <div class="comment-content">
    <%= simple_format(comment.content) %>
  </div>
  <% if comment.images.attached? %>
    <div class="comment-images">
      <% comment.images.each do |image| %>
        <div class="image-container">
          <%= image_tag image.variant(resize_to_limit: [400, 300]), class: "comment-image" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if can_delete_comment?(comment) %>
    <div class="comment-actions">
      <%= button_to t('app.common.delete'), multiplay_recruitment_comment_path(multiplay_recruitment, comment),
                    method: :delete,
                    data: { turbo_confirm: t('app.multiplay.show.confirm_delete_comment') },
                    class: "btn-comment-delete" %>
    </div>
  <% end %>
</div>

