<header class="global-header">
  <div class="header-container">
    <div class="header-logo">
      <%= link_to root_path, class: "logo-link" do %>
        <span class="logo-text">Miliastra Wonderland 掲示板</span>
      <% end %>
      <%= link_to "幻境紹介", stages_path, class: "stages-link" %>
      <%= link_to "マルチプレイ募集", multiplay_recruitments_path, class: "stages-link" %>
    </div>

    <nav class="header-nav">
      <% if logged_in? %>
        <div class="user-menu-container">
          <button class="user-menu-trigger" popovertarget="user-menu-popover">
            <span class="user-menu-name"><%= current_user.display_name %></span>さん
            <% if current_user.admin? %>
              <span class="admin-badge">管理者</span>
            <% end %>
            <svg class="user-menu-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>

          <div id="user-menu-popover" popover class="user-menu-popover">
            <%= link_to profile_path, class: "user-menu-item" do %>
              <svg class="user-menu-item-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
              </svg>
              アカウント設定
            <% end %>
            <%= button_to logout_path, method: :delete, class: "user-menu-item user-menu-item-logout" do %>
              <svg class="user-menu-item-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
              </svg>
              ログアウト
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="header-actions">
          <%= link_to "ログイン", login_path, class: "btn btn-nav" %>
          <%= link_to "新規登録", signup_path, class: "btn btn-nav btn-primary" %>
        </div>
      <% end %>
    </nav>
  </div>
</header>

